<!doctype html>

<html lang="es">

<head>
    <meta charset="utf-8">

    <title>TEC Digital Calendar Exporter</title>
    <meta name="description" content="Exporta el calendario del TEC Digital a Google Calendar, Apple Calendar o iCalendar.">
    <meta name="author" content="Joseph Vargas">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://www.iconarchive.com/download/i98230/dakirby309/simply-styled/Calendar.ico">


    <meta property="og:title" content="Exportar Calendario TEC Digital">
    <meta property="og:site_name" content="josvar.com">
    <meta property="og:url" content="https://tdcal.josvar.com/">
    <meta property="og:description" content="Exporta su calendario del TEC Digital a Google Calendar, calendarios de Apple, Outlook o su aplicación de preferencia.">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://i.imgur.com/QSJ60fL.jpg">
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="twitter:creator" content="@JosephTico"></meta>



    <style>
        .accordion-section .panel-default>.panel-heading {
            border: 0;
            background: #f4f4f4;
            padding: 0;
        }
        
        .accordion-section .panel-default .panel-title a {
            display: block;
            font-style: italic;
            font-size: 1.5rem;
        }
        
        .accordion-section .panel-default .panel-title a:after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-style: normal;
            font-size: 3rem;
            content: "\f106";
            color: #1f7de2;
            float: right;
            margin-top: -12px;
        }
        
        .accordion-section .panel-default .panel-title a.collapsed:after {
            content: "\f107";
        }
        
        .accordion-section .panel-default .panel-body {
            font-size: 1.2rem;
        }
        
        h3 {
            font-size: 50%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title">Exportar calendario TEC Digital</h1>
                    Con esta herramienta puede exportar su calendario del TEC Digital a un formato compatible con Google Calendar, calendarios de Apple y otras aplicaciones. Nuevos eventos se agregarán automáticamente. Para continuar ingrese sus credenciales del
                    <a href="https://tecdigital.tec.ac.cr/" target="_blank">TEC Digital</a>.
                </div>

                <div style="padding-top:30px" class="panel-body">


                    <div style="display:none" id="login-alert " class="alert alert-danger col-sm-12 "></div>

                    <form id="loginform" class="form-horizontal" method="post" action="/tokens">

                        <div style="margin-bottom: 25px" class="input-group ">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user "></i></span>
                            <input id="login-username" type="text " class="form-control to-disable" name="user" placeholder="usuario" required>
                        </div>

                        <div style="margin-bottom: 25px" class="input-group ">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock "></i></span>
                            <input id="login-password" type="password" class="form-control to-disable" name="password" placeholder="contraseña" required>
                        </div>





                        <div style="margin-top:10px " class="form-group ">
                            <button id="btn-submit" type="submit" class="btn btn-primary to-disable">Obtener calendario</button>
                        </div>
                    </form>


                    <div class="alert alert-primary" role="alert" id="cal-info" style="display: none">
                        <p>La URL de su calendario es:</p>
                        <p><code id="cal-url">http://localhost/</code></p>
                        <p>Suscríbase a la URL de calendario anterior con su servicio de preferencia o puede suscribirse directamente con los siguientes botones:</p>
                        <p>
                            <a id="cal-google" class="btn btn-primary btn-lg btn-block" target="_blank" href="https://calendar.google.com/calendar/u/0/r?cid=" role="button"><i class="fab fa-google"></i> Agregar a Google Calendar</a>
                            <a id="cal-webcal" class="btn btn-primary btn-lg btn-block" target="_blank" href="webcal://" role="button"><i class="fab fa-apple"></i> Agregar a calendario de Apple</a>
                            <a id="cal-outlook" class="btn btn-primary btn-lg btn-block" target="_blank" href="https://outlook.live.com/calendar/0/addcalendar" role="button" onclick="alert('Asegúrse de copiar la URL del calendario y luego péguela en la opción Suscribirse desde la web en la versión de escritorio de Outlook.com.')"><i class="fab fa-microsoft"></i> Agregar a Outlook.com</a>
                            <a id="cal-ics" class="btn btn-primary btn-lg btn-block" download href="#" role="button"><i class="fa fa-download"></i> Descargar .ics para agregar manualmente*</a>
                            <p><i>*Nota: si descarga el archivo .ics para importarlo manualmente deberá volver a repetir este proceso cada vez que quiera actualizar los eventos, por lo que son preferibles las otras opciones.</i></p>
                        </p>
                    </div>


                    <div class="form-group ">
                        <div class="col-md-12 control ">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85% ">
                                <section class="accordion-section clearfix mt-3" aria-label="Preguntas frecuentes">
                                    <h2>Preguntas frecuentes</h2>
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                                <h3 class="panel-title">
                                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                                  ¿Van a hackear mi cuenta al usar esta herramienta?
                                                </a>
                                                </h3>
                                            </div>
                                            <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                                <div class="panel-body px-3 mb-4">
                                                    <p>Primero que nada, NO ingrese sus contraseñas en sitios sospechosos. Esta herramienta solo está disponible en el dominio <mark>tdcal.josvar.com</mark>. Si bien nada me impide a mi como desarrollador recolectar
                                                        las contraseñas introducidas en esta herramienta, las mismas solo son usadas para extraer el calendario del TEC Digital y <strong>no son almacenadas</strong> en ningún tipo de base de datos. Puede
                                                        verificar usted mismo el código fuente y más detalles técnicos en la última pregunta.</p>
                                                    <p>No publico esta herramienta de forma anónima; si tiene algún problema o preocupación también puede contactarme <a href="https://twitter.com/JosephTico" target="_blank">vía Twitter</a>.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                                <h3 class="panel-title">
                                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                  He agregado mi calendario a Google Calendar pero no me aparece en la app
                                                </a>
                                                </h3>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                                <div class="panel-body px-3 mb-4">
                                                    <p>Después de agregar el calendario a Google Calendar, para que aparezca en la aplicación debe irse a los <mark>ajustes</mark> de la app de Google Calendar en su dispositivo, luego seleccionar el calendario
                                                        <mark>TEC Digital</mark> (puede necesitar tocar en <mark>Mostrar más</mark>) y habilite la opción de <mark>sincronización</mark>. En esta pantalla también puede habilitar notificaciones para los
                                                        eventos.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading p-3 mb-3" role="tab" id="heading11">
                                                <h3 class="panel-title">
                                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
                                                  No me aparecen mis eventos o me sale algún error
                                                </a>
                                                </h3>
                                            </div>
                                            <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                                <div class="panel-body px-3 mb-4">
                                                    <p>Asegúrese de refrescar los eventos en su aplicación de calendario. Puede durar unos minutos en descargar los datos más recientes del servidor. También es posible que el TEC Digital esté caído y no se
                                                        pueda generar el calendario.</p>
                                                    <p>En caso de que le aparezca algún mensaje de error específico, por favor hágamelo saber <a href="https://twitter.com/JosephTico" target="_blank">vía Twitter</a>.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                                <h3 class="panel-title">
                                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                  Mi calendario no se actualiza cuando agregan nuevos eventos al TEC Digital
                                                </a>
                                                </h3>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                                <div class="panel-body px-3 mb-4">
                                                    <p>La frecuencia con la que se actualiza su calendario dependerá de la plataforma que esté usando. En los calendarios de Apple puede elegir la frecuencia al agregar el calendario, pero en Google Calendar
                                                        los calendarios externos siempre se actualizan cada 8 horas aproximadamente.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                                <h3 class="panel-title">
                                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                  Ayudaaaa... Mi computadora explotó, mi perró fue asesinado o inició una guerra termonuclear después de usar esta herramienta
                                                </a>
                                                </h3>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                                <div class="panel-body px-3 mb-4">
                                                    <p>Si surge algún problema o error puede contactarme <a href="https://twitter.com/JosephTico" target="_blank">vía Twitter</a> para tratar de arreglarlo. No me hago responsable por conflictos internacionales
                                                        que puedan iniciar por esta herramienta.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                                                <h3 class="panel-title">
                                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                                  Detalles para nerds y escépticos
                                                </a>
                                                </h3>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                                <div class="panel-body px-3 mb-4">
                                                    <p>Si llegó hasta acá es porque es un nerd y le interesa saber cómo funciona o todavía no confía en mi lo suficiente para darme su contraseña del TEC Digital, lo cual es más que entendible.</p>
                                                    <p>Como mencioné anteriormente no publico esto de forma anónima. Doy fé de que el código desplegado en la herramienta en línea <code>tdcal.josvar.com</code> es exactamente el mismo disponible en GitHub
                                                        y no se recolectan datos de forma maliciosa.</p>
                                                    <p>Lo que hace este servicio es iniciar sesión por usted en el TEC Digital, ir a su calendario y convertirlo en un formato compatible con la mayoría de aplicaciones de calendario (iCalendar). Las contraseñas
                                                        no son almacenadas en el servidor y son descartadas apenas se genera el calendario.</p>
                                                    <p>Al ingresar su usuario y contraseña en el formulario de esta página, se genera un token JWT encriptado con AES-256 que contiene su usuario y contraseña, el cual solo puede ser desencriptado por el servidor
                                                        que genera el calendario, por lo que incluso si comparte la URL del calendario con alguien más, esa persona no será capaz de obtener su usuario o contraseña, ni siquiera Google o Apple. Estos tokens
                                                        tampoco son almacenados en el servidor, ninguna información personal o identificable es almacenada.</p>
                                                    <p>Esta herramienta fue programada con Python y se despliega mediante <a href="https://cloud.google.com/run?hl=es" target="_blank">Google Cloud Run</a>. Si lo desea, puede usted mismo desplegar su propia
                                                        instancia privada si no confía en esta versión usando el código fuente disponible en GitHub. El código se libera bajo una licencia <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">GNU AGPLv3</a>.</p>
                                                    <a class="btn btn-primary" href="https://github.com/JosephTico/TEC-Digital-Calendar-Exporter" role="button">Ver código fuente en GitHub</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center p-3">Desarrollado por <a href="https://josvar.com/">Joseph Vargas</a>, estudiante de Ingeniería en Computadores del Tecnológico de Costa Rica. Septiembre de 2020.</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
        $(function() {
            var options = {
                beforeSubmit: requestForm, // pre-submit callback
                success: responseForm, // post-submit callback
                error: responseError // post-submit error
            };

            $('#loginform').ajaxForm(options);

            function requestForm(formData, jqForm, options) {
                $('#btn-submit').html('<i class="fas fa-cog fa-spin"></i> Obteniendo calendario...');
                $('.to-disable').attr('disabled', 'disabled');
            }

            function responseError(xhr, status, error) {
                alert(xhr.responseText);

                $('#btn-submit').text('Obtener calendario');
                $('.to-disable').removeAttr('disabled');
            }

            function responseForm(responseText, statusText, xhr, $form) {
                $('#btn-submit').text('Obtener calendario');
                $('.to-disable').removeAttr('disabled');
                $('#cal-info').show();
                let url = responseText;

                $('#cal-url').text(url);
                $('#cal-ics').attr('href', url);
                // Por alguna razón Google Calendar no acepta calendarios externos en HTTPS
                $('#cal-google').attr('href', 'https://calendar.google.com/calendar/u/0/r?cid=' + url.replace('https://', 'http://'))
                $('#cal-webcal').attr('href', url.replace('https://', 'webcal://'))

            }
        });
    </script>
</body>

</html>